@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

h1, h2 {
    color: gold;
    font-family: 'Cinzel', serif;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    border: 1px solid gold;
    color: gold;
    font-family: 'Cinzel', serif;
    padding: 10px 30px;
}

.race-options, .class-options {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.race-list, .class-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.race-list li, .class-list li {
    margin: 0px 2px;
    cursor: pointer;
}

.race-list img:hover, .class-list img:hover {
    outline: 2px solid gold;
    outline-offset: -2px;
}

.greyscale {
    -webkit-filter: grayscale(100%);
}

.button {
    color: gold;
    background-color: rgb(44, 44, 44);
    border: 1px solid gold;
    cursor: pointer;
    margin: 5px 10px;
    font-family: 'Cinzel', serif;
    font-size: large;
}

.generate-button {
    font-family: 'Cinzel', serif;
    font-size: 1.75rem;
    font-weight: bold;
}

.button:hover {
    color: rgb(44, 44, 44);
    background-color: gold;
}

/* FOR GREYSCALE LATER: -webkit-filter: grayscale(100%); */
